@mixin divTopHome {
  width: 100%;
  height: 25px;
  background-color: $color-2;
  border-bottom: solid 4px;
  border-radius: 5px 5px 0px 0px;
  position: relative;
}

.home {
  width: 85%;
  @include media(lg) {
    width: 100%;
    height: 93%;
  }

  .box-2 {
    display: none;
    position: absolute;
    z-index: 0;
    width: 400px;
    height: 300px;
    background-color: $color-1;
    border-radius: 10px;
    bottom: 115px;
    right: 310px;
    box-shadow: -15px 17px 0px 0px rgba(0, 0, 0, 1);
    border: solid 4px;
    @include media(lg) {
      margin-left: 10vw;
      width: 85%;
      right: inherit;
      bottom: 50px;
    }
    @include media(sm-b) {
      bottom: 40px;
    }
    @include media(xs-b) {
      bottom: 30px;
    }
    @include media(xs) {
      margin-left: 13vw;
      width: 80%;
      bottom: 20px;
    }

    .div-top-home {
      @include divTopHome()
    }
    .div-main {
      display: flex;
      align-items: center;
      flex-direction: column;
      h1 {
        font-family: "Subway-Black";
        font-size: 90px;
        margin-top: 30px;
        margin-bottom: 0px;
        letter-spacing: 5px;
        @include media(xs) {
          font-size: 70px;
          margin-top: 50px;
        }
      }
      h3 {
        font-family: "Inconsolata", monospace;
        margin: 5px 0px;
        font-size: 25px;
        letter-spacing: 3px;
        @include media(xs) {
          font-size: 21px;
        }
      }
    }
  }

  .box-1 {
    width: 650px;
    height: 400px;
    z-index: -1;
    background-color: $color-1;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 80px;
    position: relative;
    border: solid 4px;
    @include media(lg) {
      margin-top: 25px;
      margin-left: 4vw;
      width: 90%;
    }

    @include floating(floating-box-1, 3s);
    .div-top-home {
      // @include divTopHome()
      display: none;
    }
    .div-main-home {
      height: 375px;
      width: 100%;
      padding: 10px;
      span {
        color: black;
        font-size: 60px;
        font-family: "Subway-Black";
        .typed-cursor {
            opacity: 1;
            animation: typedjsBlink 0.7s infinite;
            -webkit-animation: typedjsBlink 0.7s infinite;
            animation: typedjsBlink 0.7s infinite;
        }
        @keyframes typedjsBlink {
          50% {
            opacity: 0.0;
          }
        }
        @-webkit-keyframes typedjsBlink {
          0% {
            opacity: 1;
          }
      
          50% {
            opacity: 0.0;
          }
      
          100% {
            opacity: 1;
          }
        }
        .typed-fade-out {
          opacity: 0;
          transition: opacity .25s;
          -webkit-animation: 0;
          animation: 0;
        }
      }
    }
  }
  @keyframes floating-box-1 {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }
}
