.home {
  width: 85%;
  @include media(lg) {
    width: 100%;
    height: 93%;
  }

  .shine-1 {
    height: 80px;
    float: right;
    z-index: 2;
    margin-right: 100px;
    margin-top: -190px;
    @include floating(floating, 3s);
    @include media(lg) {
      display: none;
    }
  }
  .shine-2 {
    height: 130px;
    z-index: 2;
    margin-left: 400px;
    margin-top: -10px;
    @include floating(floating, 4s);
    @include media(lg) {
      margin-left: 0;
      margin-top: 0;
      display: none;
    }
  }
  @keyframes floating {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 17px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }

  .box-2 {
    position: absolute;
    z-index: 0;
    width: 500px;
    height: 300px;
    background-color: $color-1;
    border-radius: 10px;
    margin-top: 265px;
    right: 310px;
    box-shadow: -15px 17px 0px 0px rgba(0, 0, 0, 1);
    border: solid 4px;
    @include media(lg) {
      margin-left: 10vw;
      width: 85%;
      margin-top: 280px;
      right: inherit;
    }
    .div-top-home {
      width: 100%;
      height: 25px;
      background-color: $color-2;
      border-bottom: solid 4px;
      border-radius: 5px 5px 0px 0px;
      position: relative;
    }
    .div-main {
      display: flex;
      align-items: center;
      flex-direction: column;
      h1 {
        font-family: "Suez One", serif;
        font-size: 90px;
        margin-top: 30px;
        margin-bottom: 0px;
        letter-spacing: 5px;
      }
      h3 {
        font-family: "Inconsolata", monospace;
        margin: 5px 0px;
        font-size: 25px;
        letter-spacing: 3px;
      }
    }
  }

  .box-1 {
    width: 650px;
    height: 400px;
    z-index: -1;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 80px;
    position: relative;
    border: solid 4px;
    @include media(lg) {
      height: 300px;
      margin-top: 15px;
      margin-left: 4vw;
      width: 85%;
    }
    @include floating(floating-box-1, 3s);
    .div-top-home {
      width: 100%;
      height: 25px;
      background-color: $color-2;
      border-bottom: solid 4px;
      border-radius: 5px 5px 0px 0px;
      position: relative;
    }
    .div-main-home {
      height: 375px;
      width: 100%;
      @include media(lg) {
        height: 275px;
      }
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
  @keyframes floating-box-1 {
    0% {
      transform: translate(0, 0px);
    }
    50% {
      transform: translate(0, 15px);
    }
    100% {
      transform: translate(0, -0px);
    }
  }
}
