.projects {
  @include divFile();
  .div-top {
    @include divTop();
  }
  .div-main {
    height: 460px;
    margin-top: 40px;
    @include media(md) {
      height: 93.5%;
      margin-top: 0px;
      overflow-y: scroll;
    }
    .info {
      height: 15%;
      text-align: justify;
      margin-left: 30px;
      @include media(md) {
        height: 10%;
        margin-top: 30px;
      }
    }
    .div-projects {
      height: 85%;
      display: flex;
      justify-content: space-between;
      margin: 50px 30px 0;
      @include media(md) {
        display: flex;
        flex-direction: column;
        height: 80%;
        margin: 30px;
      }
      .tania-silva,
      .popcorn {
        width: 50%;
        cursor: pointer;
        @include media(md) {
          width: 100%;
          display: flex;
          margin: 0 0 30px;
        }
        img {
          width: 398px;
          border: solid 4px;
          border-radius: 10px;
          @include media(md) {
            object-fit: contain;
            width: 100%;
          }
        }
        span {
          margin-left: 10px;
          font-weight: bold;
          @include media(md) {
            margin-bottom: 10px;
          }
        }
        span:hover {
          font-weight: normal;
          text-decoration: underline;
        }
        .projects-img p {
          top: 170px;
          position: absolute;
          visibility: hidden;
          background-color: black;
          opacity: 0.8;
          width: 355px;
          height: 162px;
          border-radius: 10px;
          color: white;
          font-family: "Inconsolata", monospace;
          font-size: 20px;
          text-align: justify;
          padding: 60px 25px 0;
        }
        .projects-img {
          @include media(md) {
            display: flex;
            flex-direction: column-reverse;
          }
        }
        .projects-img:hover p {
          visibility: visible;
          @include media(md) {
            visibility: hidden;
          }
        }
      }
    }
  }
}
