.projects {
  @include divFile();
  .div-main {
    height: 460px;
    margin-top: 40px;
    @include media(md) {
      height: 93.5%;
      margin-top: 0px;
      overflow-y: scroll;
    }
    .info {
      height: 15%;
      text-align: justify;
      margin-left: 30px;
      @include media(md) {
        height: 10%;
        margin-top: 30px;
        margin-bottom: 3%;
      }
    }
    .div-projects {
      height: 85%;
      padding: 0 15%;
      @include media(md) {
        padding: 0 10%;
      }
      @include media(sm-b) {
        padding: 0 6%;
      }      
      .project {
        cursor: pointer;
        img {
          object-fit: cover;
          border: solid 4px;
          border-radius: 10px;
        }
        p {
          color: white;
          font-family: "Inconsolata", monospace;
          font-size: 20px;
          text-align: left;
        }
      }

      .project-mobile {
        display: none;
        margin-bottom: 40px;
        @include media(sm) {
          display: flex;
          flex-direction: column;
        }
        p {
          color: black;
          margin-top: 0;
          margin-bottom: 10px;
          cursor: default;
        }
        img {
          cursor: pointer;
        }
      }

      @include media(sm) {
        .carousel-root {
          display: none;
        }
      }
      .carousel .slide .legend {
        bottom: 20px;
      }
      .carousel .control-dots .dot {
        background: $color-2;
        box-shadow: none;
      }
    }
  }
}
