.skills {
  @include divFile();
  .div-top {
    @include divTop();
  }
  .div-main {
    height: 500px;

    display: flex;
    margin-top: 40px;
    .info {
      width: 45%;
      text-align: justify;
      margin-left: 30px;
    }
    .icons {
      width: 55%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .div-icons {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 20px;
        div {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
