  .top-bar {
    width: 100%;
    height: 30px;
    background-color: $color-2;
    border-bottom: solid 4px;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    img {
        width: 20px;
        margin: 5px;
        cursor: pointer;
        position: absolute;
        right: 0;
      }
  }